*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid #42445A .3em;
  padding: 1em;
}

.sec-video {
  display : none;
}

.first-video, .sec-video {
  width: 100%;
}

.rec-btn {
  display: block;
  padding: 1em;
  margin: 1em auto;
  border: none;
  color: white;
  background: red;
  border-radius: 1em;
}